SECRET_KEY='db_django_secret_key'
DB_NAME='db_name'
DB_USER='db_user'
DB_PASSWORD='db_password'
DB_HOST='localhost'
DB_PORT='5432'
ALLOWED_HOSTS='my_allowed_hosts'

# Email settings
EMAIL_BACKEND=anymail.backends.brevo.EmailBackend
ANYMAIL_BREVO_API_KEY=your_brevo_api_key
DEFAULT_FROM_EMAIL=your_email@example.com

# Validation constants
STRING_MAX_LENGTH=50
MAX_LENGTH_EXTENDED=100