#admin-classrooms-list.admin-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 1399.98px) {
    #admin-classrooms-list.admin-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 991.98px) {
    #admin-classrooms-list.admin-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 575.98px) {
    #admin-classrooms-list.admin-grid {
        grid-template-columns: 1fr;
    }
}